.content {
  padding: 60px 70px;
}

.title {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  padding-bottom: 40px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.listContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: flex;
  background-color: #f6f6f6;
  gap: 60px;
  border-radius: 30px;
  padding: 30px;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #2d2d2d;
  align-items: center;
}
.list:hover {
  cursor: pointer;
  border: solid 3px #ff6600;

  .plus {
    display: inline-block;
    width: 50px;
    height: 50px;

    background: linear-gradient(#ff6600, #ff6600),
      linear-gradient(#ff6600, #ff6600), #f6f6f6;
    background-position: center;
    background-size: 50% 2px, 3px 50%;
    background-repeat: no-repeat;
  }
}

.listActive {
  display: flex;
  background-color: #f6f6f6;
  gap: 60px;
  border-radius: 30px;
  padding: 30px;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #2d2d2d;
  align-items: center;
  border: solid 3px #808080;
}

.plus {
  display: inline-block;
  width: 50px;
  height: 50px;

  background: linear-gradient(#000000, #000000),
    linear-gradient(#000000, #000000), #f6f6f6;
  background-position: center;
  background-size: 50% 2px, 3px 50%;
  background-repeat: no-repeat;
}

.minus {
  display: inline-block;
  width: 50px;
  height: 50px;

  background: linear-gradient(#000000, #000000), #f6f6f6;
  background-position: center;
  background-size: 50% 2px, 3px 50%;
  background-repeat: no-repeat;
}

.openedText {
  background-color: #f6f6f6;
  border-radius: 40px;
  padding: 40px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.openedTextList {
  padding-bottom: 20px;
}

.img {
  width: 45%;
}
