.content {
  display: flex;
  flex-direction: row;
  padding: 60px 70px;
  gap: 60px;
  justify-content: center;
}

.left {
  width: 600px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 30px;
}

.spancolor {
  color: #ff6600;
}

.rocket {
  padding-bottom: 60px;
}

.selectBtn {
  background: #ff6600;
  color: #fff;
  height: 72px;
  border-radius: 20px;
  padding: 20px 60px;
  font-size: 24px;
  width: 100%;
  border: none;
  transition: all 0.3s;
}
.selectBtn:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.selectBtn:active {
  cursor: pointer;
  background-color: #cd3400;
}

.right {
  width: 700px;
}

.rightWrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #2d2d2d;
  font-size: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.more {
  color: #808080;
  padding-top: 10px;
  text-decoration: underline;
  font-size: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.more:hover {
  cursor: pointer;
}
